*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; // shorthand:bx?
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style-type: none;
}
h2 {
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 800;
}
h4{
    font-size: 20px;
    color: #333;
    font-weight: 300;
    letter-spacing: 1px;
}


// // # menuToggle: pure js+css
// .toggle {
//     background: #000 url(/portfolio/img/menu.svg) no-repeat center;
//     position: fixed;
//     top: 30px;
//     right: 30px;
//     width: 50px;
//     height: 50px;
//     cursor: pointer;
//     .active {
//         background: #000 url(/portfolio/img/close.svg) no-repeat center;
//     }
// }

// .banner{
//     position: relative;
//     width: 100%;
//     min-height: 100vh;
//     .imgSidebar{
//         position: absolute; //psa
//         top: 0;
//         left: 0;
//         width: 500px;
//         height: 100%;
//         // overflow:hidden;
//         img{
//             position: absolute;
//             top: 0;
//             left: 0;
//             width: 100%;
//             height: 100% ;
//             //transform: translate(-100px, 0); // 結合imgSidebar-width將太空人置中
//             object-fit:cover; // 填滿元素（原比例），多餘會剪掉。IE,edge不支援。
//             // object-position: center center; 預設
//         }
//     }
//     .content{
//         position: absolute;
//         top: 0;
//         right: 0;
//         width: calc(100% - 500px);
//         height: 100%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         padding: 100px;
//     }
//     position: absolute;
//     top: 40px;
//     left: 100px;
//     font-size: 1.2em;
// }

// 用flex做
.banner{
    display: flex;
    .imgSidebar{
        min-width: 500px;
        height: 100vh;
        overflow: hidden;
        img{
            height: 100%; //mah
            transform: translate(-115px, 0); // 將pic太空人置中
        }
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 80px;
        position: relative;
        .portfolioLogo{
            h5{
                display: inline-block;
                background: #000;
                padding: 0 6px;
                font-size: 20px;
                letter-spacing: 1px;
                color: #fff;
            }
        }
        h4{
            font-size: 20px;
            color: #333;
            font-weight: 300;
            span{
                color:#00bcd4;
                font-size: 28px;
                font-weight: 700;
            }
        }
        p{
            margin: 20px 0;
            font-weight: 300;
        }
        .btn{
            text-decoration: none;
            display: inline-block;
            color: #fff;
            background: #00bcd4;
            padding: 12px 28px;
            letter-spacing: 2px;
        }
        // 下面的contact log
        .contactLogo{
            display: flex;
            li{
                padding-right: 15px;
                a{
                    display: inline-block;
                    padding: 10px 14px;
                    border: 1px dashed #333;
                    border-radius: 50%;
                    color:#333;
                }
            }
        }
    }
}


.sidebar{
    position: fixed;   // 用fixed跟absolute?
    top: 0;
    right: 0;
    min-width: calc(100% - 500px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    right: -100%;
    transition: 0.6s;
    z-index: 99;
    ul{
        li{
            // list-style: none;
            a{
                text-decoration: none;
                display: inline-block;
                color: #fff;
                margin: 10px 0;
                font-weight: 300;
                letter-spacing: 2px;
                text-transform: uppercase;  // 變成大寫
                &:hover {
                    color: #00bcd4;
                }
            }
        }
    }

}
.sidebarShow{
    right: 0;
}

// ================= aboutme =================
.aboutme{
    min-height: 100vh;
    padding: 80px;
    background: #000;
    color:#fff;
    .title{
        text-align: center;
        margin-bottom: 20px;
        h2{
            display: inline-block;
        }
        p{
            padding-top: 20px;
            color:rgb(236, 233, 184);
        }
    }
}
// ================= skills ==================
.skills{
    min-height: 100vh;
    padding: 50px;
    background: rgb(230, 247, 245);
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    .title{
        margin-bottom: 40px;
        text-align: center;
    }
}
.technical-skill{
    background: #fff;
    box-shadow: 0 0 10px rgb(102, 122, 124);
    padding: 4px;
    max-width: 80%;
    .subtitle{
        margin-top: 20px;
        text-align: center;
    }
}
// ---animated skillbar only by css & html----
.bar {
    margin: 20px 10px;
    .info {
        margin-bottom: 20px;
        span {
            font-size: 17px;
            font-weight: 500;
            opacity: 0;
            animation:showText 0.5s 1s linear forwards;
        }
    }
    .progress-line {
        position: relative;
        height: 15px;
        width: 100%;
        background: #f0f0f0;
        border-radius: 10px;
        transform: scaleX(0); //?????
        transform-origin: left;
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05), //bxsh
                        0px 1px rgba(255, 255, 255, 0.8);
        animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;  //?????
        span {
            height: 100%;
            width: var(--bar-width);
            background: #00bcd4;
            position: absolute;
            border-radius: 10px;
            transform: scaleX(0); //?????
            transform-origin: left;
            animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
            &::before {
                position: absolute;
                content: '';
                right: 0;
                top: -10px;
                height: 0;
                width: 0;
                border: 7px solid transparent;
                border-bottom-width: 0px;
                border-right-width: 0px;
                border-top-color: #000;
                opacity: 0;
                animation:showText2 0.5s 1.5s linear forwards;
            }
            &::after {
                position: absolute;
                content: var(--bar-content);
                right: 0;
                top: -28px;
                color: #fff;
                font-size: 12px;
                font-weight: 500;
                background: #000;
                padding: 1px 8px;
                border-radius: 3px;
                opacity: 0;
                animation:showText2 0.5s 1.5s linear forwards;
            }
        }
    }
}
// connect to .progress-line
@keyframes animate{
    100%{
        transform:scaleX(1);
    }
}
// .info span
@keyframes showText {
    100% {
        opacity: 1;
    }
}
// span::before & after
@keyframes showText2 {
    100% {
        opacity:1;
    }
}

